.title {
   text-align: center;
}

.hobby-list {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.card-container {
   padding: 20px;
}

.list-container {
   margin: 10px 0;
   display: flex;
   gap: 20px;
}

.add-btn {
   display: flex;
   gap: 20px;
   align-items: center;
}
